{% extends "ShemaPage.html" %} {% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/portalAdmin.css')}}">


<div class="container">
    <div class="row">
        <div class="col-md-4 ml-auto">
            <a style="float: right;" href="/cerrarsesion">Cerrar Sesión</a>
        </div>
    </div>
    <div class="menu-wrap">

        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/index"><b>Inicio</b></a></li>
                        <li><a href="/categoria/categoria=Camisa"><b>Camisas</b></a></li>
                        <li><a href="/categoria/categoria=Deportiva"><b>Deportivas</b></a></li>
                        <li><a href="/categoria/categoria=Zapatos"><b>Zapatos</b></a></li>
                        <li><a href="/buscar"><b>Buscar Producto</b></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{url_for('static',filename='img/nombre.png')}}" class="rounded mx-auto d-block" alt="Logo Mintic Sports">

        </div>
    </div>


    <nav style="    margin-left: 435px;
    margin-top: 21px;" class="navbar navbar-light bg-light">
        <form class="form-inline" method="POST" action="/buscar">
            <input class="form-control mr-sm-2" id="buscar" name="buscar" type="text" placeholder="Buscar..." required aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><img src="{{url_for('static',filename='img/buscar.png')}}"  style="width: 33px;"alt=""></button>
        </form>
    </nav>

    <div style="margin-top: 41px;" class="container">
        {%if mensaje %}
        <div id="mensaje" class="alert alert-warning" role="alert">
            {{mensaje}}
            <script>
                setTimeout(function() {
                    document.getElementById('mensaje').remove();
                }, 5000);
            </script>
        </div>
        {%endif%}
        <div class="card-columns">
            {%if producto%} {% for product in producto %}

            <div class="card">

                <input type="hidden" id="id" name="id" value="{% print(product[0]) %}">
                <input type="hidden" id="categoria" name="categoria" value="{% print(product[7])%}">
                <img style="width: 94px; margin-left: 122px;" src="../static/upload/{{product[5]}}" id="img" name="img" class="card-img-top ubicacion" alt="...">
                <div class="card-body">

                    <h5 class="card-title">Nombre: {% print(product[1]) %}</h5>
                    <p>Num. Ref: {% print(product[4]) %}</p>
                    <p>Categoria: {% print(product[7]) %}</p>
                    <p>Precio: {% print(product[6]) %}</p>
                    <label for="cantidad">Cantidad:</label>
                    <input type="text" name="cantidad" id="cantidad" value="{% print(product[2]) %}" size="2" readonly>
                </div>
            </div>
            {% endfor %} {%endif%}


        </div>
        {% endblock %}