{% extends "ShemaPage.html" %} {% block contenido %}


<link rel="stylesheet" href="{{url_for('static',filename='css/tablaD.css')}}">


<div class="container">
    <div class="row">
        <div class="col-md-4 ml-auto">
            <a href="/cerrarsesion">Cerrar Sesión</a>
        </div>
    </div>
    {%if mensaje %}
    <div id="mensaje2" class="alert alert-danger" role="alert">
        {{mensaje}}
        <script>
            setTimeout(function() {
                document.getElementById('mensaje2').remove();
            }, 3000);
        </script>
    </div>
    {%endif%}
    <img src="{{url_for('static',filename='img/nombre.png')}}" class="rounded mx-auto d-block" alt="Logo Mintic">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/portalAdmin">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista de usuarios</li>
        </ol>
    </nav>
    <div class="row">

        <table class="list table table-hover table-dark col-8" id="employeeList">
            <thead>
                <tr>
                    <th scope="col">Nombre de ususario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha de creacion</th>

                </tr>
            </thead>
            <tbody>
                {%if user%} {% for user in user %}
                <tr id='{% print(user[0]) %}'>
                    <td>{% print(user[1]) %}</td>
                    <td>{% print(user[3]) %}</td>
                    <td>{% print(user[4]) %}</td>

                    <!-- <td><input class="btn btn-danger" type="button" value="Eliminar" onclick="deleteRow(this)" /></td> -->
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- <script type="text/javascript" src="{{url_for('static',filename='js/tablaScript.js')}}"></script> -->
{% endblock %}