{% extends "ShemaPage.html" %} {% block contenido %}

<link rel="stylesheet" href="{{url_for('static',filename='css/reglas.css')}}">


<body>
    <img class="balon" src="{{url_for('static',filename='img/Balon mintic.png')}}" alt="Logo basico" style="width: 350px; height: 350px">
    <img class="nombre" src="{{url_for('static',filename='img/nombre.png')}}" alt="Logo basico" style="width: 500px; height: 150px">

    <div class="Login-box">

        <img class="avatar" src="{{url_for('static',filename='img/login.png')}}" alt="Logo basico">

        <h1>Autenticarse</h1>
        {%if mensaje %}
        <div id="mensaje" class="user_error">
            <script>
                setTimeout(function() {
                    document.getElementById('mensaje').remove();
                }, 4000);
            </script>
            <p>{{mensaje}}</p>


        </div>
        {%endif%}

        <form method="POST" action="/login/">
            {{ formlog.hidden_tag() }}
            <!--  -->
            {{ formlog.usuario.label }} {{ formlog.usuario(placeholder="Ingrese el usuario", autocomplete="off")}}
            <!--  -->
            {{ formlog.password.label }} {{ formlog.password(placeholder="Ingrese Contraseña")}}
            <!--  -->
            {{ formlog.enviar(class_="boton")}}

            <a href="/recuperarContrasena">Recuperar contraseña</a>
            <br>
            <!--<p align="right">Diseñado por: MinTic-UNINORTE</p>-->
        </form>
    </div>

    <style>
        .Login-box .boton {
            border: none;
            outline: none;
            height: 40px;
            background: #1384DE;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
            width: 100%;
            margin-bottom: 20px;
        }
        
        .Login-box .boton:hover {
            cursor: pointer;
            background: #ffc107;
            color: #000;
            width: 100%;
            margin-bottom: 20px;
        }
        
        .Login-box .user_error {
            margin-top: 5px;
            width: 100%;
            font-size: 15px;
            color: #c62828;
            background: rgba(255, 0, 0, 0.1);
            text-align: center;
            padding: 5px 8px;
            border-radius: 3px;
            border: 1px solid #ef9a9a;
        }
    </style>
    <!-- <script src="{{url_for('static',filename='js/ingresoPortal.js')}}"></script> -->
    {% endblock %}